<div id="compare-badge" hx-swap-oob="true" class="relative inline-block">
    <a href="{% url 'products:compare_products' %}" class="relative text-gray-700 hover:text-red-600 transition ml-4" title="مقایسه محصولات">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path></svg>

        {% if request.session.compare_list %}
        <span class="absolute -top-2 -right-2 bg-red-600 text-white text-[10px] font-bold w-4 h-4 flex items-center justify-center rounded-full animate-bounce">
            {{ request.session.compare_list|length }}
        </span>
        {% endif %}
    </a>
</div>